__pycache__/
toad/tests/*
*.py[cod]
.DS_Store
.vscode/
# C extensions
*.so
.vscode/*

# Distribution / packaging
#bin/
build/
develop-eggs/
dist/
eggs/
#lib/
lib64/
parts/
sdist/
tmp-local/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

# DBs, tmp and uploads
*ignore_pls*
